body{
}

fieldset{

}

fieldset legend{
	text-align: center;
	width: 100%;
}

div#login_content{
	width: 400px;
	margin: 2% auto;
}

#login_logo{
	margin: 0px auto;
	text-align: center;
}

#login_form{
	background: url('../img/background.pattern.index.png');
	color: #ff8510;
}
.submit{
	width: 100%;
}
.login_button{
	width: 50%;
	font-weight: bolder;
	color: #ff8510;
}
label{
	color: #ffffff;
}