<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <title>Sonoric Studios</title>
            <link type="text/css" rel="stylesheet" href="./css/estilos.css"/>
			<script src="./js/jquery.js"></script>
			<script src="./js/columnas.js"></script>
			<!-- Librerias de Galeria de imagen-->
			<script type="text/javascript" src="./js/jquery.min.js"></script>
			<script type="text/javascript" src="./js/coin-slider.js"></script>
			<link rel="stylesheet" href="./css/coin-slider-styles.css" type="text/css" />
	
			
	</head>
	<body>
        <div id="capaContenido">
            <div id="headerCapa">
                <div id="logoHeader">
                    <img src="./images/logo.png"/>
                </div>
                <div id="headerDerecho"><br>
					Seguinos en Facebook Twitter
					<a href="www.facebook.com"><img src="./images/facebook.png"/></a>
					<a href="www.twitter.com"><img src="./images/twitter.png"/></a>	
					
                </div>
            </div>
				 
			<div id="capaBarra">
			</div>
				
            <div id="contenedorPrincipal">
				<div id="lateral"> 
					<ul class="menucss">
						<br>
						<li>Inicio</li>
						<li>Cursos</li>
						<li>Foro</li>
						<li>Shows</li>
						<li>Clinicas</li>
						<li>Discos
							<ul>
								 
								 <li class="nad">Fotografia</li>
								 <li class="nad">Impresion</li>
								 <li class="nad">Arte</li>
							</ul>
						</li>
						<li>Videoclip</li>
						<li>Estudio</li>
						<li> Contratacion</li>
						<li>Grupos</li>
					</ul>		
				</div> 
				
				<div id="otrolado"> 
					<img src="bannerlateral.gif" width="300" height="305" alt=""> 
				</div> 
				   
				<div id="principal"> 
					</br>
					  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa 
					  vorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa voremorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa orem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa voremv
					  v
					  vconsectetuer adipiscing elit. Nulla condimentum commodo orci. Nulla eget purus nec massa voremv
					  v
					  v
					  v
					<div id="games" class="games">

						<a href="http://www.minininjas.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/mini_ninjas.jpg" alt="Mini Ninjas" />
							<span>
								<b>Mini Ninjas</b><br />
								Your quest to defeat the Evil Samurai Warlord has begun. Control the powers of nature, possess creatures, use your
								furious Ninja skills to free your Ninja friends.
							</span>
						</a>

						<a href="http://www.princeofpersiagame.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/prince_of_persia.jpg" alt="Price of Persia" />
						</a>

						<a href="http://spidermandimensions.marvel.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/spiderman_shattered_dimensions.jpg" alt="Spiderman: Shattered Dimensions" />
						</a>

						<a href="http://brinkthegame.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/brink.jpg" alt="Brink" />
						</a>

						<a href="http://www.godofwar.com/" target="_blank" >
							<img src="http://workshop.rs/projects/coin-slider/games/god_of_war_3.jpg" alt="God of War III" />
						</a>

						<a href="http://www.borderlandsthegame.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/borderlands.jpg" alt="Borderlands" />
							<span>
								<b>Borderlands</b><br />
								Fun combat and a steady flow of rewards make this journey a massively enjoyable one, especially with some fellow mercenaries along for the ride.
							</span>
						</a>

						<a href="http://www.swtor.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/star_wars_the_old_republic.jpg" alt="Star Wars: The Old Republic" />
						</a>

						<a href="http://www.batmanarkhamasylum.com/" target="_blank">
							<img src="http://workshop.rs/projects/coin-slider/games/batman_arkham_asylum.jpg" alt="Batman: Arkham Asylum" />
						</a>

					</div>
		<script>
			$('#games').coinslider();
		</script>
		
					  
					  <br>
				</div> 
						
            </div>
                    
                   
            <div id="capaPie">
                <p class="txtPie">
                    </p>
            </div>
        </div>
	</body>
</html>
